
{% extends "base.html" %}

{% block title_head %} Buscar persona {% endblock title_head %}

{% block header %} 
<h1>Buscar Personas</h1>

<form action={% url "buscar_persona" %}>

    {{form}}
    <input type="submit", value="Buscar">
    
    
</form>
    {% if personas %}
    <ul>
        {% for persona in personas %}
        <li>{{persona}} 
            |<a href={% url "ver_personas" persona.id %}>Ver mas</a>|
            |<a href={% url "editar_persona" persona.id %}>Editar</a>|
            |<a href={% url "eliminar_persona" persona.id %}>Eliminar</a>|
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay Personas registradas.</p>
    {% endif %}
    

{% endblock header %}